/* header */
.header {
  border-top: 12px solid #9c120b;
  border-bottom: 1px solid #cecece;
}
.header .container {
  display: flex;
  align-items: center;
}
.logo {
  position: absolute;
  top: 10px;
  flex-shrink: 0;
  width: 80px;
  height: 72px;
  padding-top: 7rem;
  background: #fff url("../images/logo.png") no-repeat center;
  border: 1px solid #cecece;
  overflow: hidden;
  z-index: 9000;
}

/* navigation */
.nav {
  flex-grow: 1;
}
.btnNavOpen {
  display: none;
}
.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.btnSubMenuOpen,
.subMenu a {
  position: relative;
}
.btnSubMenuOpen {
  display: block;
  margin: 0 1em;
  padding: 1.5em 0.5em;
}
.subMenu {
  position: absolute;
  left: 0;
  display: none;
  width: 100vw;
  padding: 2em 1em 1em;
  background-color: #fff;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  overflow: hidden;
  z-index: 7000;
}
.subMenu li {
  margin-bottom: 0.5em;
}
.subMenuTitle {
  margin-bottom: 1em;
  padding-left: 0.5em;
}
.subMenu a {
  display: inline-block;
  margin: 0;
  padding: 0.25em 0.5em;
  border-bottom: 1px solid transparent;
}
.btnSubMenuOpen::after,
.subMenu a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  margin: auto;
  height: 2px;
  background-color: transparent;
  transition: all 200ms ease;
}

/* navigation active & hover */
.btnSubMenuOpen:hover,
.active .btnSubMenuOpen,
.subMenu a:hover,
.subMenu .active a {
  color: #202020;
}
.btnSubMenuOpen:hover::after,
li.active .btnSubMenuOpen::after,
.subMenu a:hover::after {
  background-color: #9c120b;
  transition: all 200ms ease;
}
li.active .btnSubMenuOpen::after {
  height: 4px;
}
li.active .subMenu {
  display: block;
  animation: mouseOn 400ms ease;
}
@keyframes mouseOn {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: initial;
    opacity: 1;
  }
}

/* search */
.search {
  position: relative;
  margin-left: 0.5em;
}
.search input {
  width: 0;
  border: 1px solid rgba(206, 206, 206, 0);
  background-color: transparent;
  transition: all 200ms ease;
  overflow: hidden;
}
.search.on input {
  width: 200px;
  padding-right: 40px;
  border-color: #cecece;
}
.search .btnSearchOn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto;
  padding-top: 40px;
  background: #fff url("../images/icoSearch.png") no-repeat center;
  outline: none;
  overflow: hidden;
  z-index: 100;
}
.search.on .btnSearchOn {
  z-index: -10;
}

/* visual */
.visual {
  position: relative;
  width: 100vw;
  border-bottom: 1px solid #cecece;
}
.carousel {
  display: flex;
  flex-wrap: wrap;
  width: 700vw;
  --currentBanner: 0;
  --duration: 0;
  transform: translateX(calc(var(--currentBanner) * -100vw));
  transition: transform calc(var(--duration) * 1ms) ease-out;
}

.carousel li {
  width: 100vw;
  overflow: hidden;
  background-image: url("../images/mainBanner1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.carousel a {
  position: relative;
  display: block;
  float: none;
  margin: auto;
  /* padding-top: 30%; 캐러셀 높이*/
  overflow: hidden;
}
.carousel .container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  height: 100%;
  margin: auto;
  padding-top: 8rem;
}
.carousel h3,
.carousel p {
  width: 100%;
  margin-bottom: 0;
  color: #fff;
  text-shadow: 0 0 16px rgba(0, 0, 0, 1);
}
.carousel .description {
  order: -1;
}
.carousel .btnMore {
  margin-top: 4rem;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.visual .btnPrev,
.visual .btnNext,
.visual .indicator {
  position: absolute;
  z-index: 500;
}
.visual .btnPrev,
.visual .btnNext {
  top: 0;
  bottom: 0;
  width: 56px;
  height: 80px;
  margin: auto 0;
  padding-top: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  overflow: hidden;
}
.visual .btnPrev {
  left: 40px;
  background-image: url("../images/ico_arrowL.png");
}
.visual .btnNext {
  right: 40px;
  background-image: url("../images/ico_arrowR.png");
}
.visual .indicator {
  right: 0;
  bottom: 40px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 128px;
  height: 16px;
  margin: 0 auto;
  overflow: hidden;
}
.indicator li {
  margin: 0 4px;
  overflow: hidden;
}
.indicator button {
  width: 16px;
  height: 16px;
  padding-top: 12px;
  border-radius: 8px;
  border: 2px solid #dedede;
  background-color: #dedede;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all 200ms ease;
  outline: none;
}
.indicator .active button {
  width: 24px;
  background-color: #495679;
}

/* section */
section.lineUp,
section.promotion,
section.sns,
section.map,
div.lineUp,
div.promotion,
div.sns,
div.map {
  padding-top: 5.6rem;
  padding-bottom: 5.6rem;
}

/* lineUp */
.lineUp ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 0.5em;
  text-align: center;
}

/* promotion */

.promotion {
  background-color: #f6f6f6;
}
.promotion1 a,
.promotion2 a {
  position: relative;
  display: block;
  width: 100%;
  padding: 40% 16px 0;
  border: 1px solid #cecece;
  overflow: hidden;
}
.promotion1 img,
.promotion2 img,
.promotion .sectionTitle {
  position: absolute;
}
.promotion1 img,
.promotion2 img {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto;
}
.promotion .sectionTitle {
  top: 0;
  right: 0;
  display: inline-block;
  padding: 0.2em 0.7em;
  color: #fff;
  background-color: #b5a268;
  z-index: 500;
}

/* SNS */
.sns .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sns .sectionTitle {
  flex-grow: 1;
}
.snsLink {
  align-self: flex-end;
  display: flex;
  margin-bottom: 2.4rem;
}
.snsLink > li {
  width: 32px;
  height: 32px;
  margin-left: 8px;
  padding-top: 32px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.sns .icon {
  background-repeat: no-repeat;
}
.sns .icon.insta {
  background-image: url("../images/ico_insta.png");
}
.sns .icon.fBook {
  background-image: url("../images/ico_fBook.png");
}
.sns .icon.ytube {
  background-image: url("../images/ico_yTube.png");
}
.sns .icon.twitter {
  background-image: url("../images/ico_twitter.png");
}
.snsPost {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.snsPost li {
  padding: 0 1px 2px;
}
.snsPost a {
  position: relative;
  display: block;
  padding-top: 100%;
  overflow: hidden;
}
.sns .snsPost img,
.sns .snsPost .icon {
  position: absolute;
}
.sns .snsPost img {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto;
}
.sns .snsPost .icon {
  left: 0;
  bottom: 0;
  display: block;
  width: 32px;
  height: 32px;
  padding-top: 32px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 100;
}

/* quickBanner */
.quickBanner {
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  background-color: #f6f6f6;
}
.quickBanner a {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.quickBanner h3 {
  width: 100%;
  margin-bottom: 0;
  font-weight: 400;
}
.quickBanner .icon {
  order: -1;
  display: block;
  width: 60px;
  height: 60px;
  margin-bottom: 1.5em;
  background-position: center;
  background-repeat: no-repeat;
}
.quickBanner .icon.service {
  background-image: url("../images/ico_service.png");
}
.quickBanner .icon.estimate {
  background-image: url("../images/ico_estimate.png");
}
.quickBanner .icon.catalog {
  background-image: url("../images/ico_catalog.png");
}
.quickBanner .icon.drive {
  background-image: url("../images/ico_drive.png");
}

/* map */
.map {
  display: flex;
  flex-wrap: wrap;
}
.map .mapView {
  padding-top: 50%;
  overflow: hidden;
  border: 1px solid #cecece;
  order: -1;
}
.map .mapInfo {
  padding: 0;
  background-color: #f9f9f9;
  border-width: 1px 1px 1px 0;
  border-color: #cecece;
  border-style: solid;
}
.map .sectionTitle {
  margin-bottom: 0;
  padding: 0.4em 1em 0.5em;
  background-color: #333;
  color: #fff;
  text-align: center;
  font-weight: 300;
}
.map .sectionDescription {
  margin-bottom: 0;
  padding: 0.5em 1em;
}
.locationList {
  height: 418px;
  padding: 1em;
  overflow-y: scroll;
}
.locationTitle {
  margin-bottom: 0;
  font-weight: 400;
  color: #1d263e;
}
.showroomList {
  margin-bottom: 1em;
  border-bottom: 2px solid #aaa;
}
.showroomList:last-child {
  margin-bottom: 0;
  border: none;
}
.showroomList li {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 0;
  border-bottom: 1px dashed #ccc;
  font-size: 1.4rem;
}
.showroomList li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.showroomList .showroomName {
  margin-bottom: 0.5em;
  font-weight: 600;
  color: #1d263e;
  order: -1;
}
.showroomList .address {
  width: 100%;
}
.showroomList .address,
.showroomList .tel,
.showroomList .fax {
  margin: 0 0.25em 0.25em;
}
.showroomList span {
  font-weight: 500;
  color: #202020;
}
.showroomList .btnMapView {
  padding: 0.5em 0.75em;
  margin-top: -4px;
  margin-left: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1.4rem;
  color: #fff;
  background-color: #9c120b;
  border-radius: 4px;
  order: -1;
}

/* footer */
.footer {
  padding: 8rem 0;
  background-color: #333;
  color: #aaa;
}
.footer h3 {
  color: #fff;
}
.sitemap > ul,
.copyright ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.sitemap .row {
  width: 100%;
  margin-bottom: 0.8rem;
}
.sitemap .row ul {
  display: flex;
  flex-wrap: wrap;
}
.sitemap .row li {
  width: 20%;
}
.copyright {
  margin-top: 1.6rem;
  padding-top: 4rem;
  border-top: 1px solid #444;
}
.copyright ul {
  justify-content: center;
}
.copyright li {
  padding: 0 1em;
}

/* 태블릿, 모바일 */

@media all and (max-width: 1079px) {
  section.lineUp,
  section.promotion,
  section.sns,
  section.map,
  div.lineUp,
  div.promotion,
  div.sns,
  div.map {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
  }
  /* Mobile 버전에서 숨기기 */
  .menu,
  .menu button::after,
  .menu a::after,
  .subMenuTitle,
  .footer .sitemap,
  .sns .snsLink,
  .footer .sitemap {
    display: none;
  }
  /* header */
  .logo {
    position: static;
    margin: 0;
    border-color: transparent;
    z-index: 5000;
  }
  .nav {
    order: 1;
    flex-grow: 0;
  }
  .btnNavOpen {
    position: relative;
    display: flex;
    width: 40px;
    height: 38px;
    padding: 10px 6px;
    flex-wrap: wrap;
    align-content: space-between;
    z-index: 9999;
    overflow: hidden;
  }
  .btnNavOpen span {
    width: 24px;
    height: 2px;
    margin: auto;
    background-color: #202020;
    border-radius: 2px;
    transition: transform ease 400ms;
    transition: opacity ease 0;
  }
  .active .btnNavOpen span {
    background-color: #ddd;
  }
  .active .btnNavOpen span:first-child {
    transform: translateY(8px) rotate(45deg);
  }
  .active .btnNavOpen span:nth-child(2) {
    opacity: 0;
  }
  .active .btnNavOpen span:last-child {
    transform: translateY(-8px) rotate(-45deg);
  }
  .search {
    display: flex;
    justify-content: flex-end;
    margin-left: 4px;
    order: 0;
    flex-grow: 1;
  }
  .menu li > button {
    padding: 1em 0.5em;
  }
  .menu a {
    padding: 0.3em 0;
  }

  /* menu active & hover */
  .active .btnNavOpen span {
    color: #aaa;
  }
  .active .menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: unset;
    width: 100vw;
    height: 100vh;
    padding: 24px;
    padding-top: 68px;
    color: #aaa;
    background-color: #1d263e;
    z-index: 9000;
  }
  .active .menu > li {
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 255, 0.7);
  }
  .menu li:hover > button,
  .btnSubMenuOpen:hover,
  .active .btnSubMenuOpen,
  .subMenu a:hover,
  .subMenu .active a,
  .menu li > button:hover,
  .menu .active > button,
  .menu .active > a,
  .menu a:hover {
    color: #fff;
  }
  .menu .active .subMenu {
    position: unset;
    padding: 0;
    padding-bottom: 0.5rem;
    background-color: unset;
    border: none;
  }
  .subMenu li a {
    position: relative;
    padding-left: 1em;
    font-size: 1.4rem;
  }
  .subMenu li a::before {
    position: absolute;
    top: 0;
    bottom: 0;
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 2px;
    margin: auto 0;
    margin-left: -1em;
    background-color: #999;
  }
  .subMenu a:hover {
    border-color: rgba(0, 0, 0, 0);
  }

  /* lineUp */
  .lineUp img {
    width: 80%;
  }

  /* quick Banner */
  .quickBanner {
    padding-bottom: 0.8rem;
  }
  .quickBanner li {
    margin-bottom: 1.5em;
  }
  .quickBanner .icon {
    width: 40px;
    height: 40px;
    margin-bottom: 0.5em;
    background-size: contain;
  }
  .footer {
    padding: 3.2rem 0;
  }
  .footer .copyright {
    margin-top: 0;
    padding-top: 0;
    border-top: none;
  }
  .copyright > ul {
    justify-content: center;
  }
  .copyright .row li {
    margin-bottom: 0.5em;
  }
}

/* PC (해상도 1080px ~) */

@media all and (min-width: 2000px) {
  .carousel a {
    padding-top: 35%;
  }
}
@media all and (min-width: 1080px) and (max-width: 1999px) {
  .carousel a {
    padding-top: 40%;
  }
}

/* 태블릿 가로 (해상도 768px ~ 1079px) */

@media all and (min-width: 768px) and (max-width: 1079px) {
  .carousel a {
    padding-top: 50%;
  }
}

/* 모바일 가로, 태블릿 세로 (해상도 480px ~ 767px) */

@media all and (max-width: 767px) {
  .carousel a {
    padding-top: 60%;
  }
  .carousel .container .btnMore,
  .visual .indicator,
  .carousel .container .description,
  .carVisual .container .description {
    display: none;
  }
  .visual .container {
    padding-top: 3.2rem;
    padding-left: 5.6rem;
  }
  .visual .btnNext,
  .visual .btnPrev {
    width: 32px;
  }
  .visual .btnNext {
    right: 16px;
  }
  .visual .btnPrev {
    left: 16px;
  }
}

/* 모바일 세로 (해상도 ~ 479px) */

@media all and (max-width: 479px) {
  .carousel a {
    padding-top: 75%;
  }
  .visual .container {
    padding-top: 1.6rem;
  }
  .visual .btnNext,
  .visual .btnPrev {
    width: 24px;
  }
}
