/* header */

.header {
  position: relative;
  border-top: 12px solid #9c120b;
  border-bottom: 1px solid #cecece;
}
.header > .container {
  display: flex;
  align-items: center;
}
.logo {
  position: absolute;
  top: -2px;
  flex-shrink: 0;
  width: 80px;
  height: 72px;
  margin-bottom: -7px;
  padding-top: 70px;
  background: #fff url("../images/logo.png") no-repeat center;
  border: 1px solid #cecece;
  overflow: hidden;
  z-index: 9999;
}
.header .nav {
  flex-grow: 1;
}
.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #202020;
  font-weight: 500;
}

.menu li > button,
.menu a {
  position: relative;
  display: block;
  margin: 0 1em;
  padding: 1.5em 0.5em;
  font-size: 1.6rem;
  font-weight: 500;
  color: #666;
}
.search {
  position: relative;
  margin-left: 8px;
}
.search input {
  width: 40px;
  line-height: 1.5;
  border: 1px solid rgba(206, 206, 206, 0);
  background-color: transparent;
  transition: all 200ms ease;
  outline: none;
}
.search.on input {
  width: 200px;
  padding-right: 40px;
  border-color: #cecece;
}
.search .btnSearchOn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto;
  padding-top: 40px;
  background: #fff url("../images/icoSearch.png") no-repeat center;
  outline: none;
  overflow: hidden;
  z-index: 100;
}
.search.on .btnSearchOn {
  z-index: -10;
}
.menu li > button:hover,
.menu .active > button,
.menu .active > a,
.menu a:hover {
  color: #202020;
}
.menu li > button::after,
.menu li > a::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  margin: auto;
  height: 2px;
  background-color: transparent;
  transition: all 200ms ease;
}
.menu li > button:hover::after,
.menu .active > button::after,
.menu .active > a::after,
.menu > li > a:hover::after {
  background-color: #aaa;
  transition: all 200ms ease;
}
.menu li.active > button::after,
.menu li.active > a::after {
  height: 4px;
  background-color: #9c120b;
  transition: all 200ms ease;
}
.menu .active .subMenu {
  display: block;
  padding: 2em 1em 1em;
  animation: mouseOn 200ms ease-in-out;
}
.subMenu {
  position: absolute;
  top: 67px;
  left: 0;
  display: none;
  width: 100vw;
  padding: 0 1em;
  background-color: #fff;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  z-index: 9000;
  overflow: hidden;
}
.subMenuTitle {
  margin-bottom: 1.6rem;
  padding-left: 0.5em;
  color: #202020;
}
.subMenu li {
  margin-bottom: 0.5em;
}
.subMenu a {
  display: inline-block;
  margin: 0;
  padding: 0.25em 0.5em;
  border-bottom: 1px solid transparent;
}
.subMenu a:hover {
  border-color: #9c120b;
}
@keyframes mouseOn {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: initial;
    opacity: 1;
  }
}

/* visual */
.visual {
  position: relative;
  width: 100vw;
  border-bottom: 1px solid #cecece;
  overflow: hidden;
}
.visual .carousel {
  width: 700vw;
  font-size: 0;
  --currentBanner: 0;
  --duration: 0;
  transform: translateX(calc(var(--currentBanner) * -100vw));
  transition: transform calc(var(--duration) * 1ms) ease-out;
}
.carousel li {
  display: inline-block;
  width: 100vw;
  font-size: 1.6rem;
  text-align: center;
}
.carousel li a {
  position: relative;
  display: block;
  padding-top: 40%;
  overflow: hidden;
}
.carousel .container,
.carousel img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}
.carousel .container,
.carVisual .container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 80px;
  z-index: 100;
}
.carousel img,
.carVisual img {
  width: 100%;
}
.carousel .container h3,
.carousel .container p,
.carVisual .container h3,
.carVisual .container p {
  width: 100%;
  margin-bottom: 0;
  color: #fff;
  text-align: left;
  text-shadow: 0 0 16px rgba(0, 0, 0, 1);
}
.carousel .container .description,
.carVisual .container .description {
  font-size: 2rem;
  order: -1;
}
.carousel .container .btnMore {
  margin-top: 4rem;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.visual .btnPrev,
.visual .btnNext,
.visual .indicator {
  position: absolute;
  z-index: 500;
}
.visual .btnPrev,
.visual .btnNext {
  top: 0;
  bottom: 0;
  width: 56px;
  height: 80px;
  margin: auto 0;
  padding-top: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  overflow: hidden;
}
.visual .btnPrev {
  left: 40px;
  background-image: url("../images/ico_arrowL.png");
}
.visual .btnNext {
  right: 40px;
  background-image: url("../images/ico_arrowR.png");
}

.visual .btnPrev.disabled,
.visual .btnNext.disabled {
  opacity: 0.2;
  pointer-events: none;
  cursor: not-allowed;
}
.visual .indicator {
  right: 0;
  bottom: 40px;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  width: 128px;
  height: 16px;
  margin: 0 auto;
  overflow: hidden;
}
.indicator li {
  margin: 0 4px;
  overflow: hidden;
}
.indicator button {
  width: 16px;
  height: 16px;
  padding-top: 12px;
  border-radius: 8px;
  border: 2px solid #dedede;
  background-color: #dedede;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all 200ms ease;
  outline: none;
}
.indicator .active button {
  width: 24px;
  background-color: #495679;
}

/* section */
section.lineUp,
section.promotion,
section.sns,
section.map,
div.lineUp,
div.promotion,
div.sns,
div.map {
  padding-top: 5.6rem;
  padding-bottom: 5.6rem;
}
section .sectionTitle {
  color: #202020;
}

/* lineUp */
.lineUp ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 8px;
  text-align: center;
}
.lineUp .carName {
  margin: 1.6rem auto 0;
  font-weight: 700;
  color: #202020;
}

/* promotion */
.promotion {
  background-color: #f6f6f6;
}
.promotion1 a,
.promotion2 a {
  position: relative;
  display: block;
  width: 100%;
  padding: 40% 16px 0;
  border: 1px solid #cecece;
  overflow: hidden;
}
.promotion1 img,
.promotion2 img,
.promotion .division,
.promotion .description {
  position: absolute;
}
.promotion1 img,
.promotion2 img {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto;
}
.promotion .division {
  top: 0;
  right: 0;
  display: inline-block;
  padding: 0 0.5em;
  font-size: 2.4rem;
  font-weight: 500;
  color: #fff;
  background-color: #b5a268;
  z-index: 500;
}
.promotion .description {
  top: 16px;
  left: 16px;
  font-size: 3.2rem;
  color: #fff;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  z-index: 500;
}

/* SNS */
.sns > .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.sns .sectionTitle {
  flex-grow: 1;
}
.sns .snsLink {
  align-self: flex-end;
  display: flex;
  margin-bottom: 24px;
}
.sns .snsLink > li {
  width: 32px;
  height: 32px;
  margin-left: 8px;
  padding-top: 32px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.sns .snsPost {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.snsPost li {
  padding: 0 1px 2px;
}
.snsPost a {
  position: relative;
  display: block;
  padding-top: 100%;
  overflow: hidden;
}
.sns .snsPost img,
.sns .snsPost .icon {
  position: absolute;
}
.sns .snsPost img {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: auto;
}
.sns .snsPost .icon {
  left: 0;
  bottom: 0;
  display: block;
  width: 32px;
  height: 32px;
  padding-top: 32px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 100;
}
.sns .icon.insta {
  background-image: url("../images/ico_insta.png");
}
.sns .icon.fBook {
  background-image: url("../images/ico_fBook.png");
}
.sns .icon.ytube {
  background-image: url("../images/ico_yTube.png");
}
.sns .icon.twitter {
  background-image: url("../images/ico_twitter.png");
}

/* quickBanner */
.quickBanner {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #f6f6f6;
  text-align: center;
}
.quickBanner a {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.quickBanner h3 {
  width: 100%;
  margin-bottom: 0;
}
.quickBanner .icon {
  order: -1;
  display: block;
  width: 60px;
  height: 60px;
  margin-bottom: 1.6em;
  background-position: center;
  background-repeat: no-repeat;
}
.quickBanner .icon.service {
  background-image: url("../images/ico_service.png");
}
.quickBanner .icon.estimate {
  background-image: url("../images/ico_estimate.png");
}
.quickBanner .icon.catalog {
  background-image: url("../images/ico_catalog.png");
}
.quickBanner .icon.drive {
  background-image: url("../images/ico_drive.png");
}

/* 전시장 찾기 */
.map {
  display: flex;
  flex-wrap: wrap;
}
.map .mapView {
  padding-top: 50%;
  overflow: hidden;
  border: 1px solid #cecece;
  order: -1;
}
.map .storeSearch {
  padding: 0;
  background-color: #f9f9f9;
}
.map .searchInput {
  padding: 16px 24px;
  background-color: #333;
}
.map .sectionTitle {
  color: #fff;
}
.map .storeSearch ul {
  padding: 16px 24px;
}

/* footer */
.footer {
  padding: 80px 0;
  background-color: #333;
}
.sitemap h3 {
  font-size: 1.6rem;
  color: #fff;
}
.sitemap > ul,
.copyright > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.sitemap .row {
  width: 100%;
  margin-bottom: 0.8rem;
}
.sitemap .row ul {
  display: flex;
  flex-wrap: wrap;
}
.sitemap .row li {
  width: 20%;
  color: #aaa;
}
.copyright {
  margin-top: 1.6rem;
  padding-top: 4rem;
  border-top: 1px solid #444;
  color: #aaa;
}
.copyright li {
  padding: 0 1em;
}
